<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Bienvenue sur le site d'une psychomotricienne diplômée d'État. Découvrez mes formations, accompagnements et tarifs pour un suivi personnalisé."
    />
    <link rel="stylesheet" href="styles.css" />
    <script
      src="https://challenges.cloudflare.com/turnstile/v0/api.js"
      async
      defer
    ></script>
    <title>Accueil - Psychomotricienne</title>
  </head>
  <body class="bg-main-color overflow-x-hidden text-gray-900">
    <!-- Main Container -->
    <div
      id="main-container"
      class="flex min-h-screen flex-col lg:flex-row-reverse"
    >
      <!-- Success or Error Alert message after sending the contact form -->
      <%- include('partials/emailStatusMessage') %>

      <!-- Navigation pannel display button (for mobile access) -->
      <div class="mb-4 lg:hidden">
        <button
          id="menu-toggle"
          class="text-3xl text-gray-800"
          aria-label="Ouvrir le menu"
          aria-expanded="false"
        >
          ☰
        </button>
      </div>

      <!-- Navigation pannel -->
      <nav
        class="animate-slide-in-right animate-delay-200 bg-secondary-color mx-auto hidden w-4/5 items-center justify-center opacity-0 shadow-xl/80 transition-opacity duration-1000 lg:mx-0 lg:flex lg:w-2/5 lg:opacity-100"
        id="menu"
        aria-hidden="true"
      >
        <ul>
          <li class="text-center">
            <a
              href="#presentation"
              class="block rounded-xl p-3 transition-transform duration-250 hover:scale-120"
            >
              Présentation
            </a>
          </li>
          <hr class="bg-third-color mx-auto my-4 h-0.5 w-xs" />
          <li class="text-center">
            <a
              href="#formations"
              class="block rounded-xl p-3 transition-transform duration-250 hover:scale-120"
            >
              Formations
            </a>
          </li>
          <hr class="bg-third-color mx-auto my-4 h-0.5 w-xs" />
          <li class="text-center">
            <a
              href="#articles"
              class="block rounded-xl p-3 transition-transform duration-250 hover:scale-120"
            >
              Partages d’articles
            </a>
          </li>
          <hr class="bg-third-color mx-auto my-4 h-0.5 w-xs" />
          <li class="text-center">
            <a
              href="#tarifs"
              class="block rounded-xl p-3 transition-transform duration-250 hover:scale-120"
            >
              Accompagnements et tarifs
            </a>
          </li>
          <hr class="bg-third-color mx-auto my-4 h-0.5 w-xs" />
          <li class="text-center">
            <!-- Contact modal button -->
            <button
              onclick="toggleModal(true)"
              class="m-auto block rounded-xl p-3 transition-transform duration-250 hover:scale-120"
            >
              Me contacter
            </button>
          </li>
          <hr class="bg-third-color mx-auto my-4 h-0.5 w-xs" />
          <li class="text-center">
            <a
              href="#mentions"
              class="block rounded-xl p-3 transition-transform duration-250 hover:scale-120"
            >
              Mentions légales
            </a>
          </li>
        </ul>
      </nav>

      <!-- Main part (Title, Logo...) -->
      <section
        class="mb-6 flex flex-col items-center justify-center lg:mb-0 lg:w-3/5"
      >
        <img
          src="https://ik.imagekit.io/ndl6reqva/Logo%20Robillard_prev_ui.png?updatedAt=1746304714379&tr=f-auto,w-600"
          alt="Logo Robillard"
          loading="lazy"
          decoding="async"
          class="mb-4 w-24"
        />
        <h1 class="mb-1 text-2xl font-bold">E.I. Justine Robillard</h1>
        <h2 class="mb-4 text-lg text-gray-600">Psychomotricienne D.E.</h2>
        <img
          src="https://ik.imagekit.io/ndl6reqva/image.png?tr=f-auto,w-600"
          alt="Image de fond plante tabouret"
          loading="lazy"
          decoding="async"
          class="w-full max-w-md rounded-lg opacity-0 transition-opacity duration-4000"
          id="bg-image"
        />
      </section>
    </div>
    <!-- Contact form modal - Hidden by default -->
    <div
      id="contact-modal"
      class="bg-opacity-50 fixed inset-0 z-50 hidden items-center justify-center"
    >
      <div
        class="bg-opacity-30 bg-fourth-color max-w-4/5 min-w-2/5 rounded-lg px-6 py-3 shadow-2xl/50"
      >
        <button
          aria-label="Fermer"
          type="button"
          onclick="toggleModal(false)"
          class="z-50 rounded-[19px] bg-[#e0bda1] px-[6px] pb-[4px] text-2xl text-[25px] leading-none shadow-md/10 hover:bg-[#d1af95]"
        >
          &times;
        </button>
        <h2 class="mb-5 py-3 text-center text-3xl font-extrabold text-gray-800">
          Me Contacter
        </h2>
        <form method="POST" action="/submit-contact-form" class="flex flex-col">
          <div class="mb-5">
            <label class="mb-2 font-semibold text-gray-700" for="name"
              >Nom</label
            >
            <input
              class="bg-fifth-color block w-full appearance-none rounded-lg border border-gray-300 px-4 py-2 leading-normal shadow"
              type="text"
              id="name"
              name="name"
              placeholder="Votre nom"
              required
            />
          </div>
          <div class="mb-5">
            <label class="mb-2 font-semibold text-gray-700" for="email"
              >Email</label
            >
            <input
              class="bg-fifth-color block w-full appearance-none rounded-lg border border-gray-300 px-4 py-2 leading-normal shadow"
              type="email"
              id="email"
              name="email"
              placeholder="Votre email"
              required
            />
          </div>
          <div class="mb-5">
            <label class="mb-2 font-semibold text-gray-700" for="message"
              >Message</label
            >
            <textarea
              class="bg-fifth-color block w-full appearance-none rounded-lg border border-gray-300 px-4 py-2 leading-normal shadow"
              id="message"
              name="message"
              placeholder="Tapez votre message.."
              rows="5"
              required
            ></textarea>
          </div>
          <!-- Widget Turnstile -->
           <% if (typeof turnstileSiteKey !== 'undefined') { %>
          <div
            class="cf-turnstile"
            data-sitekey="<%= turnstileSiteKey %>"
          ></div>
          <% } %>
          <div clas="flex justify-end space-x-2">
            <button
              type="submit"
              class="bg-prune mx-auto block rounded-[9px] bg-[#a76c6c] px-[73px] py-[7px] font-semibold text-white shadow-md/20 hover:bg-[#946060]"
            >
              Envoyer
            </button>
          </div>
        </form>
      </div>
    </div>

    <!-- JavaScript -->

    <!-- Contact modal toggle -->
    <script>
      function toggleModal(show) {
        const modal = document.getElementById("contact-modal");
        const mainContainer = document.getElementById("main-container");
        if (show) {
          modal.classList.remove("hidden");
          modal.classList.add("flex");
          mainContainer.classList.add("blur-md");
        } else {
          modal.classList.remove("flex");
          modal.classList.add("hidden");
          mainContainer.classList.remove("blur-md");
        }
      }
    </script>

    <script>
      // Timeout for the contact form alert message
      const emailStatusMessage = document.getElementById("emailStatusMessage");
      if (emailStatusMessage) {
        setTimeout(() => {
          emailStatusMessage.remove();
        }, 5000);
      }
    </script>

    <script>
      // Background picture Fade-in
      window.addEventListener("load", () => {
        const portrait = document.getElementById("bg-image");
        portrait.classList.remove("opacity-0");
        portrait.classList.add("opacity-100");
      });

      // Toggle menu for mobile
      const toggleBtn = document.getElementById("menu-toggle");
      const menu = document.getElementById("menu");

      toggleBtn.addEventListener("click", () => {
        menu.classList.toggle("hidden");

        // Update aria-expanded attribute
        const isOpen = menu.classList.contains("hidden");
        toggleBtn.setAttribute("aria-expanded", !isOpen);

        if (menu.classList.contains("opacity-0")) {
          setTimeout(() => {
            menu.classList.remove("opacity-0");
            menu.classList.add("opacity-100");
            menu.setAttribute("aria-hidden", "false"); // menu visible
          }, 100);
        } else {
          menu.classList.remove("opacity-100");
          menu.classList.add("opacity-0");
          menu.setAttribute("aria-hidden", "true"); // menu hidden
        }
      });

      // Handling focus when the menu is opened
      menu.addEventListener("transitionend", () => {
        if (!menu.classList.contains("hidden")) {
          const firstMenuItem = menu.querySelector("a");
          if (firstMenuItem) {
            firstMenuItem.focus(); // Put focus on the first menu link
          }
        }
      });
    </script>
  </body>
</html>
